<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCaVHSWA2FTNKYLOecEY05UcAz9yo1krzA&libraries=placeses,visualization,drawing,geometry,places"></script>

    <script src="http://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    <script src="functions.js"></script>
    <script src="moment-with-locales.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="form_app"  ng-init="" ng-controller = "bodyCtrl">
<!--form-->
<div class="container bg-light" >
    <h2 class="text-center">Travel and Entertainment Search</h2>
    <form class="form-horizontal bg-light" name="search_form" ng-submit="SearchFunc()">
        <div class="form-group row justify-content-left required">
            <label class="control-label col-sm-2 offset-sm-2" for="Keyword">Keyword</label>
            <div class="col-sm-6" >
                <input type="text" name="keyword"  class="form-control " placeholder="" id="Keyword" ng-required="1" ng-model="user.Keyword">
                <span style="color:red" ng-show="search_form.keyword.$dirty && search_form.keyword.$invalid">Please enter a keyword</span>
            </div>
        </div>
        <div class="form-group row justify-content-left">
            <label class="control-label col-sm-2 offset-sm-2" for="Category">Category</label>
            <div class="col-sm-4">
                <select class="form-control" id="Category" ng-model="user.Category">
                    <option value="Default">Default</option>
                    <option value="Airport">Airport</option>
                    <option value="Amusement Park">Amusement Park</option>
                    <option value="Aquarium">Aquarium</option>
                    <option value="Art_Gallery">Art Galery</option>
                    <option value="Bakery">Bakery</option>
                    <option value="Bar">Bar</option>
                    <option value="Beauty_Salon">Beauty Salon</option>
                    <option value="Bowling_Alley">Bowling Alley</option>
                    <option value="Bus_Station">Bus Station</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Campground">Campground</option>
                    <option value="Car_Rental">Car Rental</option>
                    <option value="Casino">Casino</option>
                    <option value="Lodging">Lodging</option>
                    <option value="Movie_Theater">Movie Theater</option>
                    <option value="Museum">Museum</option>
                    <option value="Night_Club">Night Club</option>
                    <option value="Park">Park</option>
                    <option value="Parking">Parking</option>
                    <option value="Restaurant">Restaurant</option>
                    <option value="Shopping_Mall">Shpping Mall</option>
                    <option value="Stadium">Stadium</option>
                    <option value="Subway_Station">Subway Station</option>
                    <option value="Taxi_Stand">Taxi Stand</option>
                    <option value="Train_Station">Train Station</option>
                    <option value="Transit_Station">Transit Station</option>
                    <option value="Travel_Agency">Travel Agency</option>
                    <option value="Zoo">Zoo</option>
                </select>
            </div>
        </div>

        <div class="form-group row justify-content-left">
            <label class="control-label col-sm-2 offset-sm-2" for="Distance">Distance(miles)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Distance" placeholder="10" name="Distance" ng-model="user.Distance">
            </div>
        </div>

        <div class="form-group row justify-content-left required">
            <label class="control-label col-sm-2 offset-sm-2" for="location_cur">From</label>
            <div class="col-sm-4">
                <label><input type="radio"  class="" name="location" id="location_cur" value="location_cur" ng-model="location" ng-checked="1">Current location</label>

                <label class="col-sm-2" for="location_cur"></label>

                <label><input type="radio"  class="" name="location" id="location_oth" value="location_oth" ng-model="location">Other, Please specify:</label>
            </div>
        </div>
        <div class="form-group row justify-content-left">
            <label class="control-label col-sm-2 offset-sm-2" for="location_cur"></label>
            <div class="col-sm-6">
                <input type="text"   class="form-control" placeholder="Enter a location" id="location_oth_t"
                       gm-places-autocomplete ng-disabled="location == undefined||location=='location_cur'"  name="location_oth_T"  ng-model="location_oth_t" ng-required="location != undefined && location!='location_cur'" >
                <span style="color:red" ng-show="location=='location_oth' && (search_form.location_oth_T.$dirty && search_form.location_oth_T.$invalid)">Please enter a location</span>
            </div>
        </div>
        <div class="form-group row">
            <div class="control-label offset-sm-2 mb-4">
                <button type="submit" class="btn btn-primary"  ng-disabled="user.Keyword=='' || (location=='location_oth' && !location_oth_t.length )|| cur_content==undefined || (search_form.keyword.$dirty && search_form.keyword.$invalid) " >
                    <i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-default" ng-click="reset()">Clear</button>
            </div>
        </div>
    </form>
</div>

<!-- Result Favourite button-->
<div class="container text-center">
    <button id="Result_button" class="btn btn-primary" onclick="Rchange_class()" ng-click="FavorToResult()">Results</button>
    <button id="Favor_button"  class="btn btn-link" onclick="Fchange_class()" ng-click="ResultToFavor()">Favorites</button>
    <script>
        function Rchange_class(){
            var R_n = document.getElementById('Result_button').classList;
            var F_n = document.getElementById('Favor_button').classList;
            if( F_n.contains('btn-primary')){
                F_n.remove("btn-primary");
                F_n.add("btn-link");
                R_n.remove("btn-link");
                R_n.add("btn-primary");
            }
        }
        function Fchange_class(){
            var R_n = document.getElementById('Result_button').classList;
            var F_n = document.getElementById('Favor_button').classList;
            if( R_n.contains('btn-primary')){
                R_n.remove("btn-primary");
                R_n.add("btn-link");
                F_n.remove("btn-link");
                F_n.add("btn-primary");
            }
        }
    </script>
</div>



<!--result 3 pages-->

<div class="container listPosition" ng-hide="!(show_detail==false && show_favour==false)" id="result">
    <div class="progress mt-5" ng-show="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%"></div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <button class="btn btn-light" ng-show="d_status==true && $scope.table[0].table_statustext" ng-disabled="!d_status" ng-click="recent_detail()">Details<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="container" ng-show="table[0].table_statustext=='INVALID_REQUEST'" >
        <div class="alert alert-danger">
            Failed to get search results.
        </div>
    </div>
    <div class="container" ng-show="table[0].table_content.length==0" >
        <div class="alert alert-warning">
            No records.
        </div>
    </div>
    <div class="container pt-1" ng-show="table[0].table_content!=undefined && table[0].table_content.length!=0 && curpage == 0">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Name</th>
                <th>Address</th>
                <th>Favorite</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="x in table[0].table_content" ng-if="table[0].table_content!=undefined" id="{{x.place_id}}_t">
                <td><strong>{{$index+1}}</strong></td>
                <td><img ng-src="{{x.icon}}" style='width:40px;height:40px;'></td>
                <td>{{x.name}}</td>
                <td>{{x.vicinity}}</td>
                <td><button class="btn btn-light" ng-click="set_favour(x)"> <i id="{{x.place_id}}" class="fa fa-star-o"></i></button></td>
                <td><button class="btn btn-light" ng-click='get_detail(x.place_id,x.geometry.location,x)'> <i class="fa fa-chevron-right"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="container py-3" ng-show="table[1].table_content!=undefined && table[1].table_content.length!=0 && curpage == 1">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Name</th>
                <th>Address</th>
                <th>Favorite</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="x in table[1].table_content" ng-if="table[1].table_content!=undefined">
                <td><strong>{{$index+1}}</strong></td>
                <td><img ng-src="{{x.icon}}" style='width:40px;height:40px;'></td>
                <td>{{x.name}}</td>
                <td>{{x.vicinity}}</td>
                <td><button class="btn btn-light" ng-click="set_favour(x)"> <i id="{{x.place_id}}" class="fa fa-star-o"></i></button></td>
                <td><button class="btn btn-light" ng-click='get_detail(x.place_id,x.geometry.location,x)'> <i class="fa fa-chevron-right"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="container py-3" ng-show="table[2].table_content!=undefined && table[2].table_content.length!=0 && curpage == 2">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Name</th>
                <th>Address</th>
                <th>Favorite</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="x in table[2].table_content" ng-if="table[2].table_content!=undefined">
                <td><strong>{{$index+1}}</strong></td>
                <td><img ng-src="{{x.icon}}" style='width:40px;height:40px;'></td>
                <td>{{x.name}}</td>
                <td>{{x.vicinity}}</td>
                <td><button class="btn btn-light" ng-click="set_favour(x)"> <i id="{{x.place_id}}" class="fa fa-star-o"></i></button></td>
                <td><button class="btn btn-light" ng-click='get_detail(x.place_id,x.geometry.location,x)'> <i class="fa fa-chevron-right"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="container text-center" ng-show="table[0].table_content!=undefined ">
        <button class="btn btn-light btn_width p-2 mr-2" ng-show="curpage>0 " ng-click="PreviousFunc(curpage-1)">Previous</button>
        <button class="btn btn-light btn_width p-2 ml-2" ng-show="curpage<2 && (table[curpage+1].table_statustext=='OK' || next_page_token!=undefined)"  ng-click="NextFunc(curpage+1)">Next</button>

    </div>
</div>

<!--
/////////////////////////////
favourite
/////////////////////////////
-->
<div class="container" ng-show="show_detail==false && show_favour==true" id="favourite">
    <div class="container" ng-show="!hasfavour" >
        <div class="alert alert-warning">
            No records.
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <button class="btn btn-light" ng-show="hasfavour" ng-disabled="!d_status" ng-click="recent_detail()">Details<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="container pt-1"  ng-show="hasfavour">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Name</th>
                <th>Address</th>
                <th>Favorite</th>
                <th>Details</th>
            </tr>
            <tr ng-repeat="(id,x) in favour" ng-if="favour!=undefined" id="{{x.place_id}}_f">
                <td><strong>{{$index+1}}</strong></td>
                <td><img ng-src="{{x.icon}}" style='width:30px;height:30px;'></td>
                <td>{{x.name}}</td>
                <td>{{x.vicinity}}</td>
                <td><button class="btn btn-light" ng-click="remove_favour(x,$index+1)"> <i class="fa fa-trash"></i></button></td>
                <td><button class="btn btn-light" ng-click='get_detail(x.place_id,x.geometry.location,x)'> <i class="fa fa-chevron-right"></i></button></td>
            </tr>
        </table>
    </div>
</div>

<!--detail-->
<div class="container detailPosition" ng-hide="!(d_status && show_detail==true)" id="detail">
    <h2 class="d-flex justify-content-center mt-3">{{d_name}}</h2>
    <div class="row d-flex justify-content-end">
        <button class="btn btn-light mr-auto p-2" ng-click="ListFunc()"><i class="fa fa-chevron-left"></i>List</button>
        <button class="btn btn-light" ng-click="set_favour(curX);" onclick="chacol()" > <i id="d_star" class="fa fa-star-o"></i></button>
        <script>
            function chacol(){
                if(document.getElementById("d_star").classList.contains("fa-star-o")){
                    document.getElementById("d_star").classList.remove("fa-star-o");
                    document.getElementById("d_star").classList.add("fa-star");
                }
                else{
                    document.getElementById("d_star").classList.remove("fa-star");
                    document.getElementById("d_star").classList.add("fa-star-o");
                }
            }
        </script>
        <a href="{{twitter_text}}" target="_blank"><button class="btn btn-primary"> <i class="fa fa-twitter"></i></button></a>
    </div>


    <ul class="nav nav-tabs justify-content-end" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Info">Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Photos">Photos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Map">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Reviews">Reviews</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="Info" class="container tab-pane active"><br>
            <table class="table table-striped">
                <tr ng-show="d_Address!=undefined"><th  style="">Address</th><td style="">{{d_Address}}</td></tr>
                <tr ng-show="d_Phone_Number!=undefined"><th class="">Phone Number</th><td class="">{{d_Phone_Number}}</td></tr>
                <tr ng-show="d_Price_Level!=undefined"><th class="" style="width: 25%;">Price Level</th><td class="" style="width: 75%;">{{d_Price_Level}}</td></tr>
                <tr ng-show="d_Rating!=undefined"><th class="">Rating</th><td class="">{{d_Rating}}<span id="Rating_star"></span></td></tr>
                <tr ng-show="d_Google_Page!=undefined"><th class="">Google Page</th><td class=""><a href="{{d_Google_Page}}">{{d_Google_Page}}</a></td></tr>
                <tr ng-show="d_Website!=undefined"><th class="">Website</th><td class=""><a href="{{d_Website}}">{{d_Website}}</a></td></tr>
                <tr ng-show="d_Hours!=undefined"><th class="">Hours</th><td class="">{{d_Hours}} <a href="" data-toggle="modal" data-target="#exampleModal"> Daily open hours</a></td></tr>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Open hours</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="day0">{{d_weekday_text[0]}}</p><hr>
                        <p id="day1">{{d_weekday_text[1]}}</p><hr>
                        <p id="day2">{{d_weekday_text[2]}}</p><hr>
                        <p id="day3">{{d_weekday_text[3]}}</p><hr>
                        <p id="day4">{{d_weekday_text[4]}}</p><hr>
                        <p id="day5">{{d_weekday_text[5]}}</p><hr>
                        <p id="day6">{{d_weekday_text[6]}}</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="Photos" class="container tab-pane fade"><br>
            <div class="card-columns p-2">
                <div class="card" ng-repeat="photo in photos" >
                    <a href="{{photo}}" target="_blank">
                    <img class="card-img" ng-src="{{photo}}" >
                    </a>
                </div>
            </div>
        </div>
        <div id="Map" class="container tab-pane fade"><br>
            <form class="form-row" ng-submit="GetDirect()">
                <div class="form-group col-md-4">
                    <label for="map_cur_loc">From</label>
                    <input type="text" class="form-control" id="map_cur_loc" ng-model="map_cur_loc"  places-auto-complete>
                </div>
                <div class="form-group col-md-4">
                    <label for="map_des_loc">To</label>
                    <input type="text" class="form-control" id="map_des_loc" ng-model="map_des_loc"  ng-disabled="1">
                </div>
                <div class="form-group col-md-2">
                    <label for="map_tra_mode">Travel Mode</label>
                    <select class="custom-select" id="map_tra_mode" ng-model="map_travel_mode" >
                        <option value="DRIVING" selected>Driving</option>
                        <option value="BICYCLING">Bicycling</option>
                        <option value="TRANSIT">Transit</option>
                        <option value="WALKING">Walking</option>
                    </select>
                </div>
                <div class="form-group col-md-2 d-flex align-items-end">

                    <button class="btn btn-primary"  id="map_submit" type="submit">Get Directions</button>
                </div>
            </form>
            <div id="map_content">
                <button ng-click="streetFunc()"><img id='street' src="Pegman.png" style="width:30px;height: 30px;"></button>
                <ng-map zoom="15" center="{{cur_loc}}" street-view="" id="street-view">
                    <marker position="{{cur_loc}}"  centered="true"></marker>
                    <directions
                            draggable="true"
                            provideRouteAlternatives="true"
                            panel="directions-panel"
                            travel-mode="{{map_travel_mode_copy}}"
                            origin="{{map_cur_loc_copy}}"
                            destination="{{map_des_loc_copy}}"
                            ng-show="!show_street"
                            >
                    </directions>
                    <div id="streetview"></div>
                </ng-map>
                <div id="directions-panel" style="width: 100%; float:left; overflow: auto; padding: 0px 5px">
                </div>
            </div>
        </div>
        <div id="Reviews" class="container tab-pane fade"><br>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="reviewCategoryText">Google Reviews
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu p-2" id="reviewCategory">
                        <li><a href="" ng-click="GoogFunc()">Google Reviews</a></li>
                        <li><a href="" ng-click="YelpFunc()">Yelp Reviews</a></li>
                    </ul>
                </div>
                <div class="dropdown ml-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" id="reviewSortText">Default Order
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu p-2" id="reviewSort">
                        <li><a href="" ng-click="sortByFunc('')">Default Order</a></li>
                        <li><a href="" ng-click="sortByFunc('rating',true)">Highest Rating</a></li>
                        <li><a href=""  ng-click="sortByFunc('rating',false)">Lowest Rating</a></li>
                        <li><a href=""  ng-click="sortByFunc('time',true)">Most Recent</a></li>
                        <li><a href=""  ng-click="sortByFunc('time',false)">Least Recent</a></li>
                    </ul>
                </div>
                <script>
                    $('#reviewCategory').on('click', function(e) {
                    var $target = $(e.target);
                    $target.is('a') && $('#reviewCategoryText').text($target.text())
                });
                $('#reviewSort').on('click', function(e) {
                    var $target = $(e.target);
                    $target.is('a') && $('#reviewSortText').text($target.text())
                });
                </script>
            </div>
            <table border="1">
                <tr ng-repeat="x in d_reviews|orderBy:sortBy:rever" ng-show="d_reviews!=undefined && !showYelp" class="border_bottom">
                    <td style="width:5%">
                        <a href="{{x.author_url}}" target="_blank"><img ng-src="{{x.profile_photo_url}}"  style="width:50px;height: 50px"></a>
                    </td>
                    <td style="width:95%">
                        <a href="{{x.author_url}}" target="_blank">{{x.author_name}}</a><br>
                        <span style="color: grey;">{{x.rating}} {{x.time}}</span><br>
                        <span>{{x.text}}</span>
                    </td>
                </tr>
                <tr ng-repeat="x in Yelp|orderBy:sortBy:rever" ng-show="Yelp!=undefined && showYelp" class="border_bottom">
                    <td style="width:5%">
                        <a href="{{x.url}}" target="_blank"><img ng-src="{{x.user.image_url}}"  style="width:50px;height: 50px"></a>
                    </td>
                    <td style="width:95%">
                        <a href="{{x.url}}" target="_blank">{{x.user.name}}</a><br>
                        <span style="color: grey;"><span id="{{x.id}}"></span> {{x.time_created}}</span><br>
                        <span>{{x.text}}</span>
                    </td>
                </tr>


            </table>

        </div>
    </div>


</div>
<script>

</script>
</body>

</html>