.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.control-label.col-sm-2{
    text-align: left;
}
.btn-light{
    background-color: transparent;
    border-color: #ccc;
}
.btn_width{
    width:100px;
}
.fa-star{
    color:yellow;
}

tr.border_bottom td {
    border-bottom:1pt solid black;
    border-top:1pt solid black;

}

.detailPosition {
    transition: all linear 0.5s;
    position: relative;
    top: 0;
    left: 0;
    width:auto;
    height:auto;
}
.listPosition{
    transition: all linear 0.5s;
    position: relative;
    top: 0;
    left: 0;
    width:auto;
    height:auto;
}
#result.ng-hide {
    transition: all linear 0s;
    left:1800px;
    top:0;
    position: relative;
    height:0px;
    width:auto;

}
#detail.ng-hide {
    transition: all linear 0s;
    left:-1800px;
    top:0;
    position: relative;
    height:0px;
    width:auto;

}